.card.card_payment {

}

.card.card_payment .payment__box {
    background-color: #f1ebe6f2;
    display: flex;
    flex-direction: column;
}

.card.card_payment .payment__box + .payment__box {
    margin-top: 4px;
}

.card.card_payment .payment__box::before, .payment__box::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-repeat: repeat no-repeat;
    background-size: 8px;
    position: absolute;
    background-position-x: left;
}

.card.card_payment .payment__box::before {
    background-image: url('/src/img/box-before_bg.png');
    top: -2px;
    background-position-y: top;
}

.card.card_payment .payment__box::after {
    background-image: url('/src/img/box-after_bg.png');
    bottom: -2px;
    background-position-y: bottom;
}

.card.card_payment .payment__title {
    padding: 2.5rem 1.5rem;

    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #c76f00;
}

.card.card_payment .payment__info {
    margin-bottom: 3rem;
}

.card.card_payment .payment__body {
    padding: 2rem 1.5rem 3rem;
}


.payment__info .info__item {
    display: flex;
    font-size: 1.6rem;
    column-gap: .375em;
}

.payment__info .info__item + .info__item {
    margin-top: 1rem;
}

.payment__info .info-item__description {
    font-weight: 700;
}
.payment__info .info-item__description .default-text {
    font-weight: 400;
}

.card.card_payment .payment__text {
    margin-top: 3rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
}