.card.card_admin .box {

}

.card.card_admin .box .subtitle {
    margin-bottom: .75em;
}

.button.button_select-hall {
    height: var(--admin-size);
    padding: .9em 1.5em;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem 0 #0000001f, 0 .3rem .3rem 0 #0000003d;
    text-transform: uppercase;
    line-height: 1.6rem;
}

.button.button_select-hall.active {
    height: calc(var(--admin-size) + .4rem);
    padding: 1.54rem 2.3rem 1.39rem 2.31rem;
    box-shadow: 0 0 .2rem 0 #0000001f, 0 .2rem .2rem 0 #0000003d, 0 .6rem .8rem 0 #0000003d;
    font-size: 1.5rem;
    font-weight: 500;
}

.row.row_sizes {
    margin-top: -1px;
    column-gap: 1rem;
}

.row.row_sizes::after {
    content: 'x';
    display: flex;
    align-items: center;
    align-self: flex-end;
    height: 2em;
    font-size: 1.8rem;
    color: var(--color-sec-txt);
    order: 1;
}

.card.card_admin .box.box_size {
    flex: 0 0 10rem;
}

.card.card_admin .box.box_size:first-of-type {
    order: 0;
}

.card.card_admin .box.box_size:last-of-type {
    order: 2;
}


.box.box_size .box-size__title {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: .125em;
    color: var(--color-sec-txt);
}

.box.box_size .box-size__field {
    width: 100%;
    margin: 0;
    padding: .8rem .9rem;
    border: 1px solid #b7b7b7;
    font-size: 1.6rem;
    line-height: 1;
}

.hall-config {
    border: 1px solid #000000
}


.hall-config__text {
    color: var(--color-sec-txt);
    margin-bottom: 1.1rem;
}



.hall-config__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
    padding: 2.5rem 2.6rem 2.6rem;
    border: 1px solid #000000;

}

.hall-config__wrapper::before {
    content: 'экран';
    display: block;
    font-size: 1.6rem;
    line-height: 1.125;
    letter-spacing: 1.9rem;
    padding-left: 19px;
     text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.hall-config__places {
    display: grid;
    gap: 1rem;
    padding: 0 1rem 1rem;
    max-width: 100%;
    max-height: 80dvh;
    overflow: auto;
}

.hall-config__places button {
    font-size: 8px;
}