.admin-list.admin-list_halls {
    padding-left: 2.5rem;
    padding-top: 1em;
    margin-bottom: 2.2rem;
}

.admin-list.admin-list_halls .halls__item + .halls__item {
    margin-top: 1rem;
}

.halls__item.hall {
    display: flex;
    column-gap: .4rem;
}

.admin-list.admin-list_halls .button.button_remove-hall {
    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem 0 #0000001f, 0 .3rem .3rem 0 #0000003d;
    background-image: url('/src/img/remove.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
}

.admin-list.admin-list_halls .subtitle {
    text-transform: uppercase;
    font-weight: 500;
}

.admin-list.admin-list_halls .subtitle::before {
    content: '-\00a0';
    position: absolute;
    transform: translateX(-100%);
}

