@import url('../../css/components/place.css');

.accordion__checkbox {
    appearance: none;
    position: absolute;
}

.accordion__button {
    display: block;
}

.card-list > .card_admin {
    --circle--size: 4.4rem;
}


.card-list > .card_admin>.card__header {
    padding-left: var(--card-padding-left);
    padding-right: var(--admin-size);

}

.card-list > .card_admin>.card__header:has(>.accordion__button) {
    padding: 0;
}

.card-list .card.card_admin>.card__header::before {
    content: '';
    position: absolute;
    left: calc(var(--card-padding-left) - var(--admin-size) - var(--circle--size) / 2);
    width: var(--circle--size);
    height: var(--circle--size);
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-25%);
    box-shadow: inset 0 0 0 .4rem #bc95d6;
    z-index: 1;
}

.card-list > .card_admin>.card__header:has(>.accordion__button)::before {
    top: var(--card-padding-top);
}


.card-list > .card_admin>.card__header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(var(--card-padding-left) - var(--admin-size));
    width: 2px;
    background-color: #bc95d6;
    transform: translateX(-50%);
}

.card-list > .card_admin:first-of-type>.card__header::after {
    height: 70%;
}

.card-list > .card_admin + .card_admin>.card__header::after {
    height: 100%;
}

.card-list > .card_admin + .card_admin:last-of-type>.card__header::after {
    height: 50%;
    bottom: auto;
    top: 0;
}

.card-list > .card_admin>.card__header>.accordion__button {
    padding: var(--card-padding-top) var(--admin-size) var(--card-padding-top) var(--card-padding-left);
}

.card-list > .card_admin .card__header .title {
    padding-right: 2rem;
    background-image: url('/src/img/acrdn-head-arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 2.4rem;
}

.card-list > .card_admin .card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.2rem;

}

.card_accordion > .accordion__checkbox ~ .card__body {
    transition-duration: var(--t-duration);
}

.card_accordion > .accordion__checkbox:not(:checked) ~ .card__body {
    max-height: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
}

.card_accordion:last-of-type > .accordion__checkbox:not(:checked) ~ .card__body {
    padding-top: 0;
    padding-bottom: 0;

}

.card_accordion > .accordion__checkbox:checked ~ .card__body {

}

.card-list > .card_admin:not(:last-of-type) .card__body::before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% + 2px);
    bottom: 0;
    left: calc(var(--card-padding-left) - var(--admin-size) - 1px);
    background-color: #bc95d6;
}

.card_admin .card__body .subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.125;

}

.card_admin .card__body > .box {
    width: 100%;
}

.card_admin .card__body > .box + .box {
    margin-top: 1em;
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 1em;
}
