.row_header {
    align-items: center;
    padding: 1.4rem;
}
.text-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: #ffffff;
    text-transform: uppercase;
}

.title {
    font-size: 3.4rem;
    line-height: 1.15;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: .5em;
}

.text {
    font-weight: 700;
}

.divider {
    font-weight: 300;
}

.button {
    padding: 1.2rem;
    background-color: #16a6af;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem 0 #0000001F, 0 .3rem .3rem 0 #0000003D;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}