#root {
    width: 100%;
    max-width: var(--root-width);
    margin: 0 auto;
}

#root:has(.container_content) {
    --root-width: 99rem;
}

#root:has(.container_admin) {
    --root-width: 96.2rem;
}


.row {
    display: flex;
    align-items: center;
}

.row.row_space-between {
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-size: inherit;
    line-height: inherit;
}

.text {
    font-size: inherit;
    line-height: inherit;
}

.text.text_capitalize {
    text-transform: capitalize;
}
