@import url("fonts.css");

:root {
  --bg-color: #ffffffe5;
  --card-bg: #f1ebe6f2;

  --color-sec-txt: #848484;


  --content-gap: 3rem;
  --t-duration: .5s;

  font-family: 'Roboto', "Times New Roman", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.15;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.button {
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
}