.legend__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.3rem;
}

.legend-item {
    display: flex;
    align-items: center;
    color: var(--color-sec-txt);
}
.legend-item .legend-item__marker marker_standart {

}
.legend-item .legend-item__title {

}