.container_admin .legend__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 2.3rem;
}

.legend-item {
    display: flex;
    align-items: center;
}

.container_admin .legend-item__title {
    color: var(--color-sec-txt);
}

.container_content .legend-item__title {
    color: #ffffff;
    font-weight: 300;
}

.container_content .legend__list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
