.bg-img__admin ~ .row[class*="_row_header"] {
    padding-left: clamp(1.4rem, 10vw, 9.9rem);
}

.container.container_admin {
    margin-bottom: var(--content-gap);
}

.card.card_admin {
    --card-header-bg: #63536c;
    --card-body-bg: #eae9ebf2;
    --card-padding-top: 3.5rem;
    --card-padding-left: 10.4rem;
    --admin-size: 4.2rem;
}

.card.card_admin .card__header {
    background-color: var(--card-header-bg);
    padding-top: var(--card-padding-top);
    padding-bottom: var(--card-padding-top);
    color: #ffffff;
}

.card.card_admin .title {
    font-size: 2.2rem;
    line-height: 2.5rem;
}

.card_admin .card__body {
    background-color: var(--card-body-bg);
}

.card_admin:not(.card_auth) .card__body {
    padding: var(--card-padding-top) 3.2rem var(--card-padding-top) var(--card-padding-left);
}

.card_admin.card_auth .card__body {
    padding: var(--card-padding-top) 3.2rem;
}


.card__text-field .field__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--color-sec-txt);
    margin-bottom: .016rem;
}

.card__text-field .field__input {
    width: 100%;
    border: 1px solid #b7b7b7;
    font-size: 1.6rem;
    line-height: 1;
    padding: .8rem .88rem .9rem .88rem;
    color: #000000;
}

.card__text-field .field__input::placeholder {
    color: #757575;
}

.row.row_buttons {
    overflow: visible;
    flex-wrap: wrap;
    row-gap: .5em;
}

.button.button_action {
    padding-left: 3.193rem;
    padding-right: 3.155rem;
}

@media screen and (max-width: 560px) {
    .card.card_admin {
        --card-padding-left: clamp(3.5rem, calc(50vw - 125px), 10.4rem);
    }

    .card.card_admin .card-list {
        --card-padding-left: clamp(3.5rem, calc(4.5rem + var(--circle-size)), 10.4rem);
    }

    .card_admin:not(.card_auth) .card__body {
        padding: var(--card-padding-top) clamp(2rem, calc(10vw - 8px), 3.2rem)
    }
}